# OS/editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Python/Jupyter
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Virtualenvs
.venv/
venv/
env/

# Tooling caches
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Logs
*.log

# Generated outputs
rag_output/
faiss_store/
processed/
out/
chroma_db/
taks_ununsed/

# Local env
.env
